<!-- <ion-header>
  <ion-toolbar>
    <ion-title>my-child</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      <img src="assets/imgs/logo-icon.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="kids-section">
    <div class="container">
      <h2 class="grey-heading">KIDS</h2>
      <ion-slides>
        <ion-slide *ngFor="let k of childs">
          <div class="kids-block" (click)="childSelected(k)">
            <div class="kids-img">
              <img *ngIf="k.photoUrl" [src]="k.photoUrl" alt="" title="" />
              <img *ngIf="!k.photoUrl" src="/assets/imgs/child-demo.png" alt="" title="" />
            </div>
            <p>{{k.fullName}}</p>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="kids-block add-kid" (click)="goToAddChild()">
            <div class="kids-img">
              <span class="plus-icon">+</span>
            </div>
            <p>Add Kid </p>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>


  <div class="activity-section">
    <div class="container">
      <h2 class="grey-heading">Activities</h2>

      <ion-list *ngFor="let child of childs" class="activity-block"
        (click)="goToActivityDetails(child.activitiesEnrolled[0])">
        <ion-grid *ngIf="child.activitiesEnrolled" >
          <ion-row *ngFor="let activity of child.activitiesEnrolled">
            <ion-col size="2" class="text-center">
              <h3 class="time">{{activity.detail.starttime}}</h3> 
            </ion-col>
            <ion-col size="8">
              <div class="activity-container">
                <h4 class="activity-name">{{activity.name}}</h4>
                <p class="activity-details">{{activity.description}}</p>
                <p class="activity-school">{{child.schoolName}}</p>
                 <p class="enrolled-kid"><span>{{child.fullName}}</span></p>
              </div>

            </ion-col>
            <ion-col size="2">
              <p class="hours">{{activity.detail.duration}} Hours</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>



    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar transparent>
    <ion-grid>
      <ion-row class="footer_tab">
        <ion-col class="active">
          <i class="footer-icon child-face"></i>
          <small> My Kids </small>
        </ion-col>
        <ion-col (click)="goToActivityList()">
          <i class="football footer-icon"></i>
          <small> Activity</small>
        </ion-col>

        <ion-col (click)="goToConversation()">
          <i class="footer-message footer-icon"></i>
          <small> Chat</small>
        </ion-col>

        <ion-col (click)="goToDetails()">
          <i class="icon-User footer-icon"></i>
          <small> Profile </small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>